body {
    background: rgb(236, 231, 245);
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5 {
    color: rgba(0,0,0,.5);
    display: inline;
}
p {
    color: rgba(0,0,0,.5);
}
.row {
    position: relative;
}
#sideNav {
    position: relative;
    height: 100vh;
    width: 60px;
    display: inline-block;
    background: linear-gradient(0deg, rgba(120,7,143,1) 0%, rgba(255,3,116,1) 100%);
}
#sideFooter {
    position: absolute;
    bottom: 0;
}
#sideFooter hr {
    margin-right: -22px;
}
#sideNav ul {
    list-style-type: none;
    margin:0;
    padding: 10px 0 0;
}
#sideNav img {
    width: 20px;
    padding: 0 0 10px 18px;
    filter: invert(100%);
}
.fade {
    filter: invert(80%) !important;
}
hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}
#main {
    margin-top: 10px;
    height: 95vh;
    width: 88%;
    display: inline-block;
    vertical-align: top;
}
#main div {
    margin: 0 10px 10px;
}
#top {
    display: flex;
    margin-bottom: 15px;
}
#bottom {
    
}
#badgeOutput {
    position: relative;
    height: 100%;
    width: 40%;
    background-color: #fff;
    box-shadow: 2.5px 2.5px 2.5px rgb(136, 136, 136);
}
#badgeOutput img {
    filter: invert(60%);
}
#badgeOutput span {
    position:absolute;
    right:0;
    margin:10px;
}
#calendar {
    height: 100%;
    width: 60%;
    background-color: #fff;
    box-shadow: 2.5px 2.5px 2.5px rgb(136, 136, 136);
}
#calendar span {
    color: rgba(0,0,0,0.5);
    font-size: 15px;
    margin-left: 90px;
}
#calendar b {
    border-right: 2px solid red;
    padding-right: 10px;
    margin-right: 5px;
}
#files {
    height: 100%;
    background-color: #fff;
    box-shadow: 2.5px 2.5px 2.5px rgb(136, 136, 136);
}
@media screen and (max-height: 550px) {
    #sideNav {
        height: auto;
    }
    #sideFooter {
        position: relative;
    }
    #sideFooter hr {
        margin-right: auto;
    }
    body {
        background: #000;
    }
}
@media screen and (max-width: 900px) {
    body {
        background: #0f0;
    }
    #main {

    }
    #top {
        display: block;
        height: auto;
    }
    #badgeOutput, #calendar {
        width: auto;
    }
}
@media screen and (max-width: 535px) {
    body {
        background: #f00;
    }
    #main {
        width: auto;
    }
}
@media screen and (max-width: 380px) {
    body {
        background: #00f;
    }
    h2 {
        font-size: 1em;
    }
    p {
        font-size: .75em;
    }
}